.boats {
  color: #333;
  text-align: center;
}

.boats p {
  text-align: left;
}

.boatsPage well {
  color: #333;
}

#centered {
  text-align: center;
  text-indent: 0vh;
}

.boatsembedd {
  color: #333;
}

@media only screen and (max-width: 800px) {
  .comingSoon img{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 5rem;
  }
  .firstSign img {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 5rem;
  }
}

.marineCont {
  padding-top: 20rem;
  padding-right: 15rem;
}

.marineSign {
  border-radius: 3.5rem;
}

.centeredTitle {
  text-align: center;
}

.infoList { 
  columns: 2;
  list-style-type: none ;
  padding: 0;
  margin-left: 1rem;
  font-weight: 500;
  font-size: 2rem;
  text-align: left;
}
