.homePage {
  min-height: 80%;
  margin-top: 5rem;
}


.home {
  text-align: center;
}

.wellDark {
color: #333;

}

.wellDark blockquote {
  border: none;
}


.leftjust {
  text-align: left;
}

.center {
  text-align: center;
  margin-bottom: 3rem;
}

.hours {
    text-align: center;
    text-indent: 0vh;
}

.lead {
  text-indent: 0vh;
}

@media only screen and (min-width: 768px) {
  .homePage {
    padding-top: 15rem;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 5rem;
  }

  .mapImg {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .jumbotron {
    padding-left: 0px;
    padding-right: 0px;
    background-color: initial;
    text-align: center;
  }
  .well {
    text-align: justify;
  }
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .hours {
    text-align: center;
    text-indent: 0vh;
  }
  .well {
    text-align: unset;
  }
}

.centered {
  text-align: center;
}

.location {
  padding-top: 19px;
  text-align: center;
  text-indent: 0vh;
}

.location  p {
  text-indent: 0vh;
}

.wellHeader {
  text-align: center;
}

.fa {
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    text-indent: 0vh;
    padding: 2rem;
}

i:hover{
    text-decoration: none;
 
}

.socialMedia:hover {
    text-decoration: none;
}

.socialMedia {
  text-align: center;
}

.faceBook {
  padding: 0rem;
}

.socialMedia li {
  list-style: none;
  display: inline-block;
}


.mapImg {
  margin-bottom: 2rem;
}
