.footer {
  max-width: 100%;
  background-color: #043025;
  text-align: center;
  min-height: 5vh;
  color: #fff;
}


.footer a {
  color: #fff;
}

.footUl {
  display: inline-block;
  float: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footUl li {
  float: left;
  display: block;
  position: relative;
}

.rowBehave {
  margin-top: 1rem;
}



.footUl i {
  padding: unset;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2.6rem;
}

@media only screen and (min-width: 767px) {
}

.version {
  display: none;
  visibility: hidden;
}
